.about{
	background-color:#ffffff; 
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 50px;
	margin-right: 50px;
	padding: 20px;
	overflow: hidden;
    border-radius: 30px 0 30px 0;
    box-shadow: 3px 10px 30px #DDD;
	transition: all 1s ease-in-out;
}

.about .about-image{
	float: left;
	width: 30%;
}
.about .about-image img{
	width: 300px;
	height: 500px;
    box-shadow: 3px 10px 30px #a79e90;
    transition: all 1s ease-in-out;
	border-radius: 150px;
}


.about .about-content{
	float: left;
	width: 60%
}
.about .about-content h1{
	font-size: 40px;
	font-weight: lighter;
	margin-left: 20px;
    margin-bottom: 10px;
    color: orange;
}
.about .about-content p{
	margin-left: 20px;
	margin-bottom: 20px;
	text-align: justify;
    color: #666;
	line-height: 1.7;
	text-transform: lowercase;
}

@media (max-width: 767px){
	.about{
		text-align: center;
	}
	
	.about .about-image{
		float: none;
		width: 100%;
		margin-bottom: 30px;
	}
	.about .about-content{
		float: none;
		width: 100%;
	}
	.about .about-image img{
		width:70%;
		height: 500px;
		box-shadow: 3px 10px 30px #a79e90;
		transition: all 1s ease-in-out;
		border-radius: 150px;
	}
	  
}

@media(min-width:768px) and (max-width:991px){
	.about{
		text-align: center;
	}
	
	.about .about-image{
		float: none;
		width: 100%;
		margin-bottom: 30px;
	}
	.about .about-content{
		float: none;
		width: 100%;
	}
	.about .about-image img{
		width:70%;
		height: 500px;
		box-shadow: 3px 10px 30px #a79e90;
		transition: all 1s ease-in-out;
		border-radius: 150px;
	}
	  
}

@media(min-width:992px) and (max-width:1199px){
	.about{
		text-align: center;
	}
	
	.about .about-image{
		float: none;
		width: 100%;
		margin-bottom: 30px;
	}
	.about .about-content{
		float: none;
		width: 100%;
	}
	.about .about-image img{
		width:70%;
		height: 500px;
		box-shadow: 3px 10px 30px #a79e90;
		transition: all 1s ease-in-out;
		border-radius: 150px;
	}
}