#Project-content{
    padding-top: 40px;
    text-align: center;
    height:auto;
    overflow: hidden;
}
#Project-content h2{
    color: orange;
    font-size: 40px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 10px;
    letter-spacing: 3px;
    border: 1px solid #f1b954;
    width: 30%;
    margin: auto;
    background-color: #FFF;
    border-radius: 30px 0 30px 0;
}
#Project-content h2:after {
    content: "";
    border-top: 15px solid #FFF;
    border-right: 15px solid transparent; 
    border-left: 15px solid transparent;
    position: relative;
    top:34px;
    right: 135px;
    display: inline-block;
}

#Project-content ul {
	list-style-type: none;
}
#Project-content ul li{
	float: left;
	margin: 40px;
	width: 26%;
	height: auto;
	text-align: center;	
    background-color: #f3f3f3;
    border: 3px solid #DDD;
    border-radius: 30px 0 30px 0;
    box-shadow: 3px 10px 30px #DDD;
    transition: all 1s ease-in-out;
}
#Project-content ul li img{
	width: 100%;
    height: 250px;
    border-radius: 30px 0 0 0;
    transition: all 1s ease-in-out;
}

#Project-content ul li h3{
    margin-top: 10px;
	color: orange;
	font-size: 18px;
	padding: 5px;
}
#Project-content ul li p{
	float: left;
	margin-top: 10px;
	text-align: justify;
	color: #666;
	font-family: calibri;
	margin-bottom: 30px;
	padding: 10px;
}
#Project-content ul li button{
	padding: 5px;
	width: 110px;
	height: 40px;
    border-radius: 30px 0 30px 0;
	font-size: 18px;
	color: #FFF;
    background-color: #8a0309;
    margin-bottom: 30px;
    border: none;
    transition: all .5s ease-in-out;
    cursor: pointer;
}
#Project-content ul li:hover,#Project-content ul li:hover > img{
    border-color:  #f1b954;
    box-shadow: 3px 10px 30px #f1b954;
    border-radius: 0;
}

#Project-content ul li:hover > img{
    border-radius: 0;
    box-shadow: none;
}

#Project-content ul li:hover > button{
    border-radius: 5px;
}


@media (max-width: 767px){
	#Project-content h2{
        font-size: 25px;
        width: 60%;
    }
    #Project-content h2:after {
        top:30px;
        right: 90px;
    }
    #Project-content ul li{
        float: left;
        width: 80%;
    }
	  
}

@media(min-width:768px) and (max-width:991px){
	#Project-content h2{
        font-size: 25px;
        width: 60%;
    }
    #Project-content h2:after {
        top:30px;
        right: 90px;
    }
    #Project-content ul li{
        float: left;
        width: 30%;
        margin-left: 100px;
    }
	  
}

@media(min-width:992px) and (max-width:1199px){
    #Project-content h2{
        font-size: 25px;
        width: 60%;
    }
    #Project-content h2:after {
        top:30px;
        right: 90px;
    }
    #Project-content ul li{
        float: left;
        width: 30%;
        margin-left: 100px;
    }
}