<div class="row" id="contact">
    <div class="container mt-5" >
    
        <div class="row" style="height:550px;">
          <div class="col-md-6 maps" >
            <iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d110469.26833339772!2d31.14643799271824!3d30.089470929193936!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e6!4m3!3m2!1d30.0894895!2d31.216478799999997!4m3!3m2!1d30.0894895!2d31.216478799999997!5e0!3m2!1sen!2seg!4v1546882828602" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="col-md-6">
            <h2 class="contact_title">Contact Me...</h2>
            <form action="">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control mt-2" placeholder="Name" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="text" class="form-control mt-2" placeholder="Subject" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="email" class="form-control mt-2" placeholder="Email" required>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <input type="number" class="form-control mt-2" placeholder="Phone" required>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Message" rows="4" required></textarea>
                  </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                        <label class="form-check-label" for="invalidCheck2">
                            Accept the terms
                        </label>
                    </div>
                    </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-light" type="submit">Send</button>
                </div>
              </div>
            </form>
            <div class="text-white">
            <h2>Where are we</h2>
    
            <i class="fa fa-phone mt-3"></i><span> (+2) 01200849384</span><br>
            <i class="fa fa-envelope mt-3"></i><span> mohamedashraf129.ma@gmail.com</span><br>
            <i  class="fa fa-globe mt-3"></i><a class="mywebsite" href="http://maresume.000webhostapp.com" target="_blank"> maresume.000webhostapp.com</a><br>
            <i  class="fa fa-globe mt-3"></i><a class="mywebsite" href="http://mohamedashraf96.epizy.com" target="_blank"> mohamedashraf96.epizy.com</a><br>
            <div class="my-4">
            <a href="https://www.facebook.com/MemooA96" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/mohamed-ashraf-a962a7146/" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
            <a href="https://github.com/memoo96" target="_blank"><i class="fa fa-github fa-2x"></i></a>
            </div>
            </div>
          </div>
    
        </div>
    </div>
</div>
<app-footer></app-footer>

    